@model IEnumerable<Mi_turnero.Models.Especialidad>

@{
    ViewData["Title"] = "Index";
}

<h1>Especialidades</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success">Agregar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Modificar</a> 
            </td>
        </tr>
}
    </tbody>
</table>
